django_secret_key           #   Django secret key for cryptographic
service_mode                #   maintanace status
sy_secret                   #   Syteam
jwt_secret_key              #   Signing JWT tokens